<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hello world</title>
</head>
<body>
<form action = '/process' method = 'post'>
<label for="name">Name
<input type="text" id="name" name="name">
</label>
<label for="location">Location
    <input type="text" id="location" name="location">
</label>
<label for="submit">Submit
    <input type="submit" id="submit" name="submit">
</label>
</form>
</body>
</html>